<section class="about-me">
    <div class="container">
        <h2 class="title-block__two about-me__title">About me</h2>
        <div class="about-me__cloud">
            <div class="about-me__cloud-one">
                <p class="about-me__text about-me__cloud-text">
                    Aliquam tortor molestie turpis est tristique. Congue diam orci amet quis semper ut. Vitae aenean nibh facilisis urna, ultricies euismod nunc. Commodo fringilla sit hendrerit consequat. Vel ac elit vel sagittis.
                </p>
            </div>
            <div class="about-me__cloud-two">
                <p class="about-me__text about-me__cloud-text">
                    Tincidunt id quis pellentesque rutrum pretium. Egestas aliquam dictum ipsum nisl, sed pulvinar. Commodo elit sed a fermentum non justo. Etiam platea consectetur.
                </p>
            </div>
            <div class="about-me__cloud-three">
                <p class="about-me__text about-me__cloud-text">
                    Quam ipsum odio tellus etiam aliquam dolor ut hendrerit. Felis risus nec vitae nunc ultricies placerat. Nullam nec felis eu id dolor pellentesque tristique.
                </p>
            </div>
        </div>
    </div>
</section>