@import "../colors";
@import "../vars.scss";
@import "../mixins.scss";

.popup-main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $c_grey-2;

  z-index: 111;

  &__form {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    background-color: $c_white;

    padding: 37px 37px;

    width: 680px;

    position: relative;

    margin: auto;

    border: 2.5px solid $c_black;

    @include media_interval($media_tablet, $media_laptop) {
      width: 648px;

      padding: 42px 56px;
    }

    @include media_interval($media_mobile, $media_tablet) {
      width: 648px;

      padding: 42px 56px;
    }

    @include media_interval(0, $media_mobile) {
      padding: 25px 24px;
    }

    &-sign {
      width: 370px;
    }

    &-lable {
      display: flex;
      flex-direction: column-reverse;

      margin-bottom: 20px;

      @include media_interval(0, $media_mobile) {
        margin-bottom: 14px;
      }
    }

    &-input {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;

      border: 2.5px solid $c_grey-3;

      padding: 12px 19px;

      cursor: pointer;

      transition: $tr_duration $tr_easing;

      @include media_interval(0, $media_mobile) {
        padding: 8px 15px;
      }

      &:hover {
        border: 2.5px solid $c_grey;

        outline: none;
      }

      &:active,
      &:focus {
        border: 2.5px solid $c_black;

        outline: none;
      }
    }

    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;

      margin-bottom: 7px;
    }

    &-feedback {
      display: flex;
      justify-content: space-between;

      @include media_interval(0, $media_mobile) {
        flex-wrap: wrap;
      }
    }

    &-left-input {
      margin-right: 10px;
      width: 100%;

      @include media_interval(0, $media_mobile) {
        margin: 0px 0px 17px;
      }
    }

    &-right-input {
      margin-left: 10px;
      width: 100%;

      @include media_interval(0, $media_mobile) {
        margin: 0px 0 14px;
      }
    }

    &-message {
      box-sizing: border-box;
      width: 100%;
      height: 150px;

      border: 2.5px solid $c_grey-3;

      transition: $tr_duration $tr_easing;

      &:hover {
        border: 2.5px solid $c_grey;

        outline: none;
      }

      &:active,
      &:focus {
        border: 2.5px solid $c_black;

        outline: none;
      }
    }

    &-subscribe {
      margin-bottom: 18px;

      transition: color $tr_duration $tr_easing;

      &:hover {
        color: $c_grey;
      }

      @include media_interval(0, $media_mobile) {
        display: flex;
        margin-bottom: 18px;
      }

      &--checkbox {
        display: none;

        &:checked + .popup-main__form-subscribe--fake::before {
          opacity: 1;
        }
      }

      &--fake {
        display: inline-block;

        width: 19px;
        height: 19px;

        border: 2px solid;
        box-sizing: border-box;
        border-radius: 3px;

        position: relative;

        cursor: pointer;

        @include media_interval(0, $media_mobile) {
          width: 29px;
          height: 17px;

          margin-right: 13px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 40%;
          left: 51%;
          transform: translate(-50%, -50%);

          display: block;
          width: 100%;
          height: 100%;
          background: url(/static/images/check.svg);
          background-repeat: no-repeat;
          background-size: 16px 14px;

          opacity: 0;
          transition: 0.2s;
        }
      }

      &--text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        padding-left: 11px;

        vertical-align: text-top;

        cursor: pointer;

        @include media_interval(0, $media_mobile) {
          padding: 0;
        }
      }
    }

    &-button {
      align-self: start;

      margin: 0;
    }

    &-button {
      align-self: start;
    }

    &-close {
      position: absolute;
      top: -3px;
      right: -39px;
      cursor: pointer;

      width: 25px;
      height: 25px;

      border: none;

      background: url(/static/images/Close.svg);

      transition: $tr_duration $tr_easing;

      @include media_interval(0, $media_tablet) {
        top: -30px;
        right: 0;
      }

      &:hover,
      &:active {
        background: url(/static/images/Close_black.svg);
      }
    }
  }
}

.sign,
.register,
.message {
  display: none;

  &_open {
    display: flex;

    animation: animate 0.3s;

    @keyframes animate {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

.isInvalid {
  border: 2.5px solid $c_red;

  &:hover,
  &:focus {
    border: 2.5px solid $c_red;
    cursor: pointer;
  }
}

.invalidFeedback {
  color: $c_red;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;

  margin: 0 0 -16px;
}

.isNormal {
  border: 2.5px solid $c_green;

  &:hover,
  &:focus {
    border: 2.5px solid $c_green;
    cursor: pointer;
  }
}

.normalFeedback {
  color: $c_green;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;

  margin: 0 0 -16px;
}
