<section class="register modal register-modal_js">
    <form class="modal__form modal__form-register" action="/">
        <label class="modal__form-lable">
            <input class="modal__form-input input-text-register_js" type="email" name="email">
            <span class="modal__form-text">Email<span class="fill">*</span></span>
        </label>
        <div class="modal__form-feedback">
            <label class="modal__form-left-input modal__form-lable">
                <input class="modal__form-input" type="text" name="name">
                <span class="modal__form-text">Name<span class="fill">*</span></span>
            </label>
            <label class="modal__form-right-input modal__form-lable">
                <input class="modal__form-input" type="text" name="surname">
                <span class="modal__form-text">Surname<span class="fill">*</span></span>
            </label>
        </div>
        <div class="modal__form-feedback">
            <label class="modal__form-left-input modal__form-lable">
                <input class="modal__form-input" type="password" name="password">
                <span class="modal__form-text">Password<span class="fill">*</span></span>
            </label>
            <label class="modal__form-right-input modal__form-lable">
                <input class="modal__form-input" type="password" name="password">
                <span class="modal__form-text">Repeat password<span class="fill">*</span></span>
            </label>
        </div>
        <div class="modal__form-feedback">
            <label class="modal__form-left-input modal__form-lable">
                <input class="modal__form-input" type="text" name="location">
                <span class="modal__form-text">Location<span class="fill">*</span></span>
            </label>
            <label class="modal__form-right-input modal__form-lable">
                <input class="modal__form-input" type="text" name="age">
                <span class="modal__form-text">Age<span class="fill">*</span></span>
            </label>
        </div>
        <label class="modal__form-subscribe">
            <input class="modal__form-subscribe--checkbox" type="checkbox" name="subscribe" value="personal data">
            <span class="modal__form-subscribe--fake"></span>
            <span class="modal__form-subscribe--text">Clicking on the button, you consent to the processing of your personal data.</span>
        </label>
        <button class="modal__form-button button" type="submit">submit</button>
        <button class="modal__form-close register-close__js" type="button" aria-label="exit"></button>
    </form>
</section>