<section class="register popup-main register-modal_js">
    <form class="popup-main__form popup-main__form-register" action="/" name="register">
        <label class="popup-main__form-lable">
            <input class="popup-main__form-input input-text-register_js" type="email" name="email">
            <span class="popup-main__form-text">Email<span class="fill">*</span></span>
        </label>
        <div class="popup-main__form-feedback">
            <label class="popup-main__form-left-input popup-main__form-lable">
                <input class="popup-main__form-input" type="text" name="name">
                <span class="popup-main__form-text">Name<span class="fill">*</span></span>
            </label>
            <label class="popup-main__form-right-input popup-main__form-lable">
                <input class="popup-main__form-input" type="text" name="surname">
                <span class="popup-main__form-text">Surname<span class="fill">*</span></span>
            </label>
        </div>
        <div class="popup-main__form-feedback">
            <label class="popup-main__form-left-input popup-main__form-lable">
                <input class="popup-main__form-input" type="password" name="password">
                <span class="popup-main__form-text">Password<span class="fill">*</span></span>
            </label>
            <label class="popup-main__form-right-input popup-main__form-lable">
                <input class="popup-main__form-input" type="password" name="password">
                <span class="popup-main__form-text">Repeat password<span class="fill">*</span></span>
            </label>
        </div>
        <div class="popup-main__form-feedback">
            <label class="popup-main__form-left-input popup-main__form-lable">
                <input class="popup-main__form-input" type="text" name="location">
                <span class="popup-main__form-text">Location<span class="fill">*</span></span>
            </label>
            <label class="popup-main__form-right-input popup-main__form-lable">
                <input class="popup-main__form-input" type="text" name="age">
                <span class="popup-main__form-text">Age<span class="fill">*</span></span>
            </label>
        </div>
        <label class="popup-main__form-subscribe">
            <input class="popup-main__form-subscribe--checkbox" type="checkbox" name="subscribe" value="personal data">
            <span class="popup-main__form-subscribe--fake"></span>
            <span class="popup-main__form-subscribe--text">Clicking on the button, you consent to the processing of your personal data.</span>
        </label>
        <button class="popup-main__form-button button" type="submit">submit</button>
        <button class="popup-main__form-close register-close__js" type="button" aria-label="exit"></button>
    </form>
</section>