<section class="sign popup-main sign-modal_js">
    <form class="popup-main__form popup-main__form-sign" action="/" name="sign-in">
        <div class="popup-main__form-wrapper">
            <label class=" popup-main__form-lable">
                <input class="popup-main__form-input input-text-sign_js" type="email" name="email">
                <span class="popup-main__form-text">Email<span class="fill">*</span></span>
            </label>
            <label class=" popup-main__form-lable">
                <input class="popup-main__form-input" type="password" name="password">
                <span class="popup-main__form-text">Password<span class="fill">*</span></span>
            </label>
        </div>
        <button class="popup-main__form-button button" type="submit">Log in</button>
        <button class="popup-main__form-close sign-close_js" type="button" aria-label="exit"></button>
    </form>
</section>