<section class="sign modal sign-modal_js">
    <form class="modal__form modal__form-sign" action="/">
        <div class="modal__form-wrapper">
            <label class=" modal__form-lable">
                <input class="modal__form-input input-text-sign_js" type="email" name="email">
                <span class="modal__form-text">Email<span class="fill">*</span></span>
            </label>
            <label class=" modal__form-lable">
                <input class="modal__form-input" type="password" name="password">
                <span class="modal__form-text">Password<span class="fill">*</span></span>
            </label>
        </div>
        <button class="modal__form-button button" type="submit">Log in</button>
        <button class="modal__form-close sign-close__js" type="button" aria-label="exit"></button>
    </form>
</section>