<div class="message-modal message-modal_js">
    <form class="message-modal__form" action="/index.html">

        <div class="message-modal__form-feedback">
            <label class="message-modal__form-left-input message-modal__form-lable">
                <input class="message-modal__form-input" type="text" name="name">
                <span class="message-modal__form-text">What is your name?<span class="fill">*</span></span>
            </label>
            <label class="message-modal__form-right-input message-modal__form-lable">
                <input class="message-modal__form-input" type="text" name="message">
                <span class="message-modal__form-text">Message subject<span class="fill">*</span></span>
            </label>
        </div>
        <div class="message-modal__form-feedback">
            <label class="message-modal__form-left-input message-modal__form-lable">
                <input class="message-modal__form-input" type="email" name="email">
                <span class="message-modal__form-text">Your Email<span class="fill">*</span></span>
            </label>
            <label class="message-modal__form-right-input message-modal__form-lable">
                <input class="message-modal__form-input" type="tel" name="phone">
                <span class="message-modal__form-text">Your mobile phone<span class="fill">*</span></span>
            </label>
        </div>
        <label class="message-modal__form-lable">
            <textarea class="message-modal__form-message" name="message" cols="30" rows="10"></textarea>
            <span class="message-modal__form-text">What do you want to discuss with me?</span>
        </label>
        <label class="message-modal__form-subscribe">
            <input class="message-modal__form-subscribe--checkbox" type="checkbox" name="subscribe" value="personal data">
            <span class="message-modal__form-subscribe--fake"></span>
            <span class="message-modal__form-subscribe--text">Clicking on the button, you consent to the processing of your personal data.</span>
        </label>
        <button class="message-modal__form-button button" type="submit">Send</button>
        <button class="message-modal__form-close button-close_js" type="button" aria-label="exit"></button>
    </form>
</div>