<div class="profile_password profile_password_js">
    <form class="profile_password__form" action="/index.html">
        <div class="profile_password__form-feedback">
            <label class=" profile_password__form-lable">
                <input class="profile_password__form-input" type="password" name="password" placeholder="**********">
                <span class="profile_password__form-text">Old password<span class="fill">*</span></span>
            </label>
            <label class=" profile_password__form-lable">
                <input class="profile_password__form-input" type="password" name="password" placeholder="****************">
                <span class="profile_password__form-text">New password<span class="fill">*</span></span>
            </label>
            <label class=" profile_password__form-lable">
                <input class="profile_password__form-input" type="password" name="password" placeholder="****************">
                <span class="profile_password__form-text">Repeat new password<span class="fill">*</span></span>
            </label>
        </div>
        <button class="profile_password__form-button button" type="submit">Change password</button>
        <button class="profile_password__form-close button-close_js" type="button" aria-label="exit"></button>
    </form>
</div>