<div class="sign-modal sign-modal_js">
    <form class="sign-modal__form" action="/index.html">
        <div class="sign-modal__form-feedback">
            <label class=" sign-modal__form-lable">
                <input class="sign-modal__form-input" type="email" name="email">
                <span class="sign-modal__form-text">Email<span class="fill">*</span></span>
            </label>
            <label class=" sign-modal__form-lable">
                <input class="sign-modal__form-input" type="password" name="password">
                <span class="sign-modal__form-text">Password<span class="fill">*</span></span>
            </label>
        </div>
        <button class="sign-modal__form-button button" type="submit">Log in</button>
        <button class="sign-modal__form-close button-close_js" type="button" aria-label="exit"></button>
    </form>
</div>