@import "../colors";
@import "../vars.scss";
@import "../mixins.scss";

.sign-modal {
  display: none;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $c_grey-2;

  &_open {
    display: flex;

    animation: animate 0.3s;

    @keyframes animate {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    background-color: $c_white;

    padding: 37px 37px;

    width: 370px;

    position: relative;

    margin: auto;

    border: 2.5px solid $c_black;

    &-lable {
      display: flex;
      flex-direction: column-reverse;

      margin-bottom: 20px;
    }

    &-input {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;

      border: 2.5px solid $c_grey-3;

      padding: 12px 19px;

      cursor: pointer;

      transition: $tr_duration $tr_easing;

      &:hover {
        border: 2.5px solid $c_grey;

        outline: none;
      }

      &:active,
      &:focus {
        border: 2.5px solid $c_black;

        outline: none;
      }
    }

    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;

      margin-bottom: 7px;
    }

    &-button {
      align-self: start;

      margin: 10px 0 0;
    }
  }

  &__form-close {
    position: absolute;
    top: -3px;
    right: -39px;
    cursor: pointer;

    width: 25px;
    height: 25px;

    border: none;

    background: url(/static/images/Close.svg);

    transition: $tr_duration $tr_easing;

    &:hover,
    &:active {
      background: url(/static/images/Close_black.svg);
    }
  }
}
