<section class="portfolio">
    <div class="container">
        <h2 class="title-block__two portfolio__title">Portfolio</h2>
        <div class="portfolio__slider">
            <div class="swiper-container portfolio__slider-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="portfolio__link">
                            <picture class="portfolio__picture">
                                <source srcset="/static/images/portfolio-1.png, /static/images/portfolio-1_retina.png 2x" media="(min-width: 1024px)">
                                <source srcset="/static/images/portfolio-1_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                                <source srcset="/static/images/portfolio-1_mobile.png" media="(max-width: 767px)">
                                <img class="portfolio__img" src="/static/images/portfolio-1.png" alt="portfolio">
                            </picture>
                            <div class="portfolio__description">
                                <a class="portfolio__description-link">Learning site for DL Academy courses</a>
                                <p class="portfolio__description-text">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="portfolio__link">
                            <picture class="portfolio__picture">
                                <source srcset="/static/images/portfolio-1.png, /static/images/portfolio-1_retina.png 2x" media="(min-width: 1024px)">
                                <source srcset="/static/images/portfolio-1_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                                <source srcset="/static/images/portfolio-1_mobile.png" media="(max-width: 767px)">
                                <img class="portfolio__img" src="/static/images/portfolio-1.png" alt="portfolio">
                            </picture>
                            <div class="portfolio__description">
                                <a class="portfolio__description-link">Learning site for DL Academy courses</a>
                                <p class="portfolio__description-text">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="portfolio__link">
                            <picture class="portfolio__picture">
                                <source srcset="/static/images/portfolio-1.png, /static/images/portfolio-1_retina.png 2x" media="(min-width: 1024px)">
                                <source srcset="/static/images/portfolio-1_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                                <source srcset="/static/images/portfolio-1_mobile.png" media="(max-width: 767px)">
                                <img class="portfolio__img" src="/static/images/portfolio-1.png" alt="portfolio">
                            </picture>
                            <div class="portfolio__description">
                                <a class="portfolio__description-link">Learning site for DL Academy courses</a>
                                <p class="portfolio__description-text">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>
    </div>
</section>