<section class="skills">
    <div class="container">
        <h2 class="title-block__two skills__title">Skills</h2>
        <p class="skills__text">I work in such programs as</p>
        <ul class="skills__list">
            <li class="skills__item">
                <img class="skills__item-img" src="/static/images/htm5.png" alt="htm 5">
                <p class="skills__item-name">HTML 5</p>
                <div class="skills__progress-bar">
                    <span class="skills__progress-interest">85%</span>
                    <progress class="skills__progress" value="85" max="100"></progress>
                </div>
            </li>
            <li class="skills__item">
                <img class="skills__item-img" src="/static/images/css3.png" alt="css 3 and scss">
                <p class="skills__item-name">CSS/SCSS</p>
                <div class="skills__progress-bar">
                    <span class="skills__progress-interest">55%</span>
                    <progress class="skills__progress" value="55" max="100"></progress>
                </div>
            </li>
            <li class="skills__item">
                <img class="skills__item-img" src="/static/images/js.png" alt="JavaScript">
                <p class="skills__item-name">JavaScript</p>
                <div class="skills__progress-bar">
                    <span class="skills__progress-interest">5%</span>
                    <progress class="skills__progress" value="5" max="100"></progress>
                </div>
            </li>
            <li class="skills__item">
                <img class="skills__item-img" src="/static/images/git.png" alt="git and github">
                <p class="skills__item-name">Git/GitHub</p>
                <div class="skills__progress-bar">
                    <span class="skills__progress-interest">15%</span>
                    <progress class="skills__progress" value="15" max="100"></progress>
                </div>
            </li>
            <li class="skills__item">
                <img class="skills__item-img" src="/static/images/figma.png" alt="figma">
                <p class="skills__item-name">Figma</p>
                <div class="skills__progress-bar">
                    <span class="skills__progress-interest">80%</span>
                    <progress class="skills__progress" value="80" max="100"></progress>
                </div>
            </li>
        </ul>
    </div>
</section>