<div class="register register_js">
    <form class="register__form" action="/index.html">
        <label class="register__form-lable">
            <input class="register__form-input input-text_js" type="email" name="email">
            <span class="register__form-text">Email<span class="fill">*</span></span>
        </label>
        <div class="register__form-feedback">
            <label class="register__form-left-input register__form-lable">
                <input class="register__form-input" type="text" name="name">
                <span class="register__form-text">Name<span class="fill">*</span></span>
            </label>
            <label class="register__form-right-input register__form-lable">
                <input class="register__form-input" type="text" name="surname">
                <span class="register__form-text">Surname<span class="fill">*</span></span>
            </label>
        </div>
        <div class="register__form-feedback">
            <label class="register__form-left-input register__form-lable">
                <input class="register__form-input" type="password" name="password">
                <span class="register__form-text">Password<span class="fill">*</span></span>
            </label>
            <label class="register__form-right-input register__form-lable">
                <input class="register__form-input" type="password" name="password">
                <span class="register__form-text">Repeat password<span class="fill">*</span></span>
            </label>
        </div>
        <div class="register__form-feedback">
            <label class="register__form-left-input register__form-lable">
                <input class="register__form-input" type="text" name="location">
                <span class="register__form-text">Location<span class="fill">*</span></span>
            </label>
            <label class="register__form-right-input register__form-lable">
                <input class="register__form-input" type="text" name="age">
                <span class="register__form-text">Age<span class="fill">*</span></span>
            </label>
        </div>
        <label class="register__form-subscribe">
            <input class="register__form-subscribe-checkbox" type="checkbox" name="subscribe" value="personal data">
            <span class="register__form-subscribe-fake"></span>
            <span class="register__form-subscribe-text">Clicking on the button, you consent to the processing of your personal data.</span>
        </label>
        <button class="register__form-button button" type="submit">submit</button>
        <button class="register__form-close button-close_js" type="button" aria-label="exit"></button>
    </form>
</div>