@import "../colors";
@import "../vars.scss";
@import "../mixins.scss";

.filter {
  margin-bottom: 20px;

  &__main {
    display: flex;
    justify-content: space-between;

    @include media_interval(0, $media_mobile) {
      margin-top: 28px;
    }
  }

  &__title {
    @include media_interval(0, $media_mobile) {
      width: 100px;
    }
  }

  &__burger-menu {
    @include media_interval(0, $media_mobile) {
      align-self: end;
      margin: 22px 0 0;
    }
  }

  &__wrapper {
    margin-top: 41px;

    @include media_interval(0, $media_mobile) {
      margin-top: 39px;
    }
  }
  &__form {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;

      @include media_interval($media_mobile, $media_tablet) {
        margin-bottom: 30px;
      }

      @include media_interval(0, $media_mobile) {
        margin-bottom: 31px;
      }
    }
  }

  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    margin-bottom: 12px;
  }

  &__input-name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: $c_black;

    display: block;

    margin-top: 1px;
  }

  &__tags {
    margin-right: 68px;
    max-width: 125px;

    @include media_interval($media_mobile, $media_tablet) {
      margin: 20px 47px 0 0;

      order: 5;
    }

    @include media_interval(0, $media_mobile) {
      margin: 14px 30px 0 0;

      order: 5;
    }
  }

  &__tags-box {
    display: flex;
    flex-wrap: wrap;
  }
  &__input-checkbox {
    display: none;
    &:checked + .filter__input-fake::before {
      opacity: 1;
    }
    &--name {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      color: $c_black;

      vertical-align: super;

      margin-left: 8px;
    }
  }

  &__input-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__input-item {
    margin-right: 5px;
  }

  &__input-fake {
    width: 20px;
    height: 20px;

    display: inline-block;

    line-height: 0;

    border: 2.5px solid;
    border-radius: 5px;

    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;

      opacity: 0;

      margin: 2px 0 0px 3px;

      transition: opacity $tr_duration $tr_easing;

      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 6.75L5.91301 12.77C6.20128 13.2135 6.85836 13.1893 7.11327 12.7259L13.425 1.25' stroke='%23070707' stroke-width='2.5' stroke-linecap='round'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
    }

    // &--2176FF {
    //   color: $checkbox_dark-blue;
    //   &::before {
    //     background: url(/static/images/check_mark_dark-blue.svg);
    //     background-repeat: no-repeat;
    //   }
    // }
    // &--blue {
    //   color: $checkbox_blue;
    //   &::before {
    //     background: url(/static/images/check_mark_blue.svg);
    //     background-repeat: no-repeat;
    //   }
    // }
    // &--yellow {
    //   color: $checkbox_yellow;
    //   &::before {
    //     background: url(/static/images/check_mark_yellow.svg);
    //     background-repeat: no-repeat;
    //   }
    // }
    // &--turquoise {
    //   color: $checkbox_turquoise;
    //   &::before {
    //     background: url(/static/images/check_mark_turquoise.svg);
    //     background-repeat: no-repeat;
    //   }
    // }
    // &--orange {
    //   color: $checkbox_orange;
    //   &::before {
    //     background: url(/static/images/check_mark_orange.svg);
    //     background-repeat: no-repeat;
    //   }
    // }
    // &--pink {
    //   color: $checkbox_pink;
    //   &::before {
    //     background: url(/static/images/check_mark_pink.svg);
    //     background-repeat: no-repeat;
    //   }
    // }

    // &--purple {
    //   color: $checkbox_purple;
    //   &::before {
    //     background: url(/static/images/check_mark_purple.svg);
    //     background-repeat: no-repeat;
    //   }
    // }
    // &--green {
    //   color: $checkbox_green;
    //   &::before {
    //     background: url(/static/images/check_mark_green.svg);
    //     background-repeat: no-repeat;
    //   }
    // }

    // &--black {
    //   color: $c_black;
    //   &::before {
    //     background: url(/static/images/check_mark_black.svg);
    //     background-repeat: no-repeat;
    //   }
    // }
  }

  &__views {
    margin-right: 71px;

    @include media_interval($media_mobile, $media_tablet) {
      margin-right: 47px;

      order: 2;
    }
    @include media_interval(0, $media_mobile) {
      margin: 0 0 25px 0;

      order: 2;
    }
  }

  &__radio-item {
    margin-bottom: 10px;
    [type="radio"] {
      display: none;
    }
    label {
      display: flex;

      cursor: pointer;

      line-height: 18px;

      &:before {
        content: "";
        display: inline-block;

        width: 25px;
        height: 25px;

        background: url(/static/images/radio.svg) no-repeat;

        margin-right: 12px;

        transition: $tr_duration $tr_easing;
      }
      &:hover ::before {
        filter: grayscale(100%);
      }
    }
    input[type="radio"]:checked + label:before {
      background: url(/static/images/radio_checked.svg) no-repeat;
    }
  }

  &__checkbox-item {
    margin-bottom: 6px;

    &--tags {
      margin-right: 6px;
    }
  }

  &__comments {
    margin-right: 138px;

    @include media_interval($media_mobile, $media_tablet) {
      margin-right: 110px;
      order: 1;
    }
    @include media_interval(0, $media_mobile) {
      margin: 0 75px 33px 0;
      order: 1;
    }
  }

  &__show {
    margin-right: 75px;

    @include media_interval($media_mobile, $media_tablet) {
      margin-right: 0;
      order: 4;
    }

    @include media_interval(0, $media_mobile) {
      margin: 0;
      order: 4;
    }
  }

  &__sort {
    margin-right: 48px;

    @include media_interval($media_mobile, $media_tablet) {
      margin-right: 81px;

      order: 3;
    }
    @include media_interval(0, $media_mobile) {
      margin-right: 68px;

      order: 3;
    }
  }

  &__button {
    align-self: center;

    @include media_interval($media_mobile, $media_tablet) {
      margin-top: 46px;

      order: 6;
    }

    @include media_interval(0, $media_mobile) {
      margin-top: 40px;

      order: 6;
    }
  }

  &__search-wrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;

    @include media_interval(0, $media_mobile) {
      flex-wrap: wrap;
    }
  }

  &__search-input {
    width: 100%;

    border: 2.5px solid $c_grey-3;

    cursor: pointer;

    outline: none;

    transition: border $tr_duration $tr_easing;

    @include media_interval(0, $media_mobile) {
      height: 43px;
    }

    &:hover {
      border: 2.5px solid $c_grey;
    }

    &:focus {
      border: 2.5px solid $c_black;
    }
  }

  &__search-button {
    margin: 3px 0 3px 30px;

    @include media_interval(0, $media_mobile) {
      margin: 20px 0 0 182px;
    }
  }
}
