<section class="my-profile">
    <div class="container">
        <h1 class="title-block__one">My profile</h1>
        <div class="my-profile__wrapper">
            <picture class="my-profile__picture">
                <source srcset="/static/images/profile-image-1.png, /static/images/profile-image-1_retina.png 2x" media="(min-width: 1024px)">
                <source srcset="/static/images/profile-image-1_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                <source srcset="/static/images/profile-image-1_mobile.png" media="(max-width: 767px)">
                <img class="category-products__image" srcset="/static/images/profile-image-1.png" alt="фото">
            </picture>

            <form class="my-profile__form" action="/">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name" placeholder="Ksenia" required>
                </div>
                <div>
                    <label for="name">Surname:</label>
                    <input type="text" name="name" placeholder="Larioshkina" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" placeholder="larioshkina@gmail.com" required>
                </div>
                <div>
                    <label for="psw">Password:</label>
                    <input type="password" placeholder="****************" name="psw" required>
                </div>
                <div>
                    <label for="name">Location:</label>
                    <input type="text" name="location" placeholder="Moscow" required>
                </div>
                <div>
                    <label for="name">Age:</label>
                    <input type="text" name="age" placeholder="17" required>
                </div>
                <button></button>
                <button></button>
                <button></button>

            </form>
        </div>

    </div>
</section>