<div class="my-profile_data my-profile_data_js">
    <form class="my-profile_data__form" action="/index.html">
        <label class="my-profile_data__form-lable">
            <input class="my-profile_data__form-input input-text_js" type="email" name="email" placeholder="larioshkina@gmail.com">
            <span class="my-profile_data__form-text">Email</span>
        </label>
        <div class="my-profile_data__form-feedback">
            <label class="my-profile_data__form-left-input my-profile_data__form-lable">
                <input class="my-profile_data__form-input" type="text" name="name" placeholder="Ksenia">
                <span class="my-profile_data__form-text">Name</span>
            </label>
            <label class="my-profile_data__form-right-input my-profile_data__form-lable">
                <input class="my-profile_data__form-input" type="text" name="surname" placeholder="Larioshkina">
                <span class="my-profile_data__form-text">Surname</span>
            </label>
        </div>
        <div class="my-profile_data__form-feedback">
            <label class="my-profile_data__form-left-input my-profile_data__form-lable">
                <input class="my-profile_data__form-input" type="text" name="location" placeholder="Moscow">
                <span class="my-profile_data__form-text">Location</span>
            </label>
            <label class="my-profile_data__form-right-input my-profile_data__form-lable">
                <input class="my-profile_data__form-input" type="text" name="age" placeholder="17">
                <span class="my-profile_data__form-text">Age</span>
            </label>
        </div>
        <div class="my-profile_data__form-feedback">
            <label class="my-profile_data__form-location-input my-profile_data__form-lable">
                <input class="my-profile_data__form-input" type="text" name="picture" placeholder="file-name.png">
                <span class="my-profile_data__form-text">Profile picture</span>
            </label>
        </div>
        <button class="my-profile_data__form-button button" type="submit">submit</button>
        <button class="my-profile_data__form-close button-close_js" type="button" aria-label="exit"></button>
    </form>
</div>