@import "../colors";
@import "../vars.scss";
@import "../mixins.scss";

.btn-top {
  position: fixed;
  bottom: 30px;
  right: 30px;

  animation: animate 0.3s;

  @keyframes animate {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
