<section class="password popup-profile password-modal_js">
    <form class="popup-profile__form" action="/" name="password">
        <div class="popup-profile__form-wrapper">
            <label class=" popup-profile__form-lable">
                <input class="popup-profile__form-input input-text-password_js" type="password" name="password" placeholder="**********">
                <span class="popup-profile__form-text">Old password<span class="fill">*</span></span>
            </label>
            <label class=" popup-profile__form-lable">
                <input class="popup-profile__form-input" type="password" name="password" placeholder="****************">
                <span class="popup-profile__form-text">New password<span class="fill">*</span></span>
            </label>
            <label class=" popup-profile__form-lable">
                <input class="popup-profile__form-input" type="password" name="password" placeholder="****************">
                <span class="popup-profile__form-text">Repeat new password<span class="fill">*</span></span>
            </label>
        </div>
        <button class="popup-profile__form-button button" type="submit">Change password</button>
        <button class="popup-profile__form-close password-close_js" type="button" aria-label="exit"></button>
    </form>
</section>