@import "../colors";
@import "../vars.scss";
@import "../mixins.scss";

.popup-profile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $c_grey-2;

  z-index: 111;

  @include media_interval(0, $media_mobile) {
    background-color: $c_white;
  }

  &__form {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    background-color: $c_white;

    padding: 38px;

    width: 680px;

    position: relative;

    margin: auto;

    border: 2.5px solid $c_black;

    @include media_interval(0, $media_mobile) {
      border: none;

      padding: 82px 20px;
    }

    &-password {
      max-width: 370px;
    }

    &-lable {
      display: flex;
      flex-direction: column-reverse;

      margin-bottom: 22px;
    }

    &-input {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;

      border: 2.5px solid $c_grey-3;

      padding: 12px;

      cursor: pointer;

      transition: $tr_duration $tr_easing;

      &:hover {
        border: 2.5px solid $c_grey;

        outline: none;
      }

      &:active,
      &:focus {
        border: 2.5px solid $c_black;

        outline: none;
      }

      label input {
        display: none;
      }
    }

    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;

      margin-bottom: 7px;
    }

    &-feedback {
      display: flex;
      justify-content: space-between;

      @include media_interval(0, $media_mobile) {
        flex-wrap: wrap;
      }
    }

    &-left-input {
      margin-right: 10px;
      width: 100%;

      @include media_interval(0, $media_mobile) {
        margin-right: 0;
      }
    }

    &-right-input {
      margin-left: 10px;
      width: 100%;

      @include media_interval(0, $media_mobile) {
        margin-left: 0;
      }
    }

    &-picture-input {
      width: 48%;

      @include media_interval(0, $media_mobile) {
        width: 100%;
      }
    }

    &-button {
      align-self: start;
      margin: 10px 0 0;
    }
  }

  &__form-close {
    position: absolute;
    top: -3px;
    right: -39px;
    cursor: pointer;

    width: 25px;
    height: 25px;

    border: none;

    background: url(/static/images/Close.svg);

    transition: $tr_duration $tr_easing;

    @include media_interval($media_mobile, $media_tablet) {
      top: -37px;
      right: -3px;
    }

    @include media_interval(0, $media_mobile) {
      top: 36px;
      left: 20px;
    }

    &:hover,
    &:active {
      background: url(/static/images/Close_black.svg);
    }
  }

  &__form-file {
    position: relative;
    text-align: center;

    &--title {
      position: absolute;
      top: -3px;
      left: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }

    &--hide {
      position: absolute;
    }

    &--icon {
      margin-right: 10px;
    }

    &--text {
      line-height: 1;
      margin-top: 1px;
      color: black;
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
    }

    &--img {
      display: block;
    }

    &--label {
      width: 44%;

      display: flex;
      align-items: center;

      cursor: pointer;
      border: 2.5px solid $c_grey-3;
      flex-direction: row;
      margin: 20px 0;
      padding: 11px;
    }
  }
}

.password,
.data {
  display: none;

  &_open {
    display: flex;

    animation: animate 0.3s;

    @keyframes animate {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @include media_interval(0, $media_mobile-medium) {
      padding: 0 20px;
    }
  }
}
.isInvalid {
  border: 2.5px solid $c_red;

  &:hover,
  &:focus {
    border: 2.5px solid $c_red;
    cursor: pointer;
  }
}

.invalidFeedback {
  color: $c_red;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;

  margin: 0 0 -16px;
}

.isNormal {
  border: 2.5px solid $c_green;

  &:hover,
  &:focus {
    border: 2.5px solid $c_green;
    cursor: pointer;
  }
}

.normalFeedback {
  color: $c_green;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;

  margin: 0 0 -16px;
}
