<div class="my-profile_form my-profile_form_js">
    <form class="my-profile_form__form" action="/index.html">
        <div class="my-profile_form__form-feedback">
            <label class=" my-profile_form__form-lable">
                <input class="my-profile_form__form-input" type="password" name="password">
                <span class="my-profile_form__form-text">Old password<span class="fill">*</span></span>
            </label>
            <label class=" my-profile_form__form-lable">
                <input class="my-profile_form__form-input" type="password" name="password">
                <span class="my-profile_form__form-text">New password<span class="fill">*</span></span>
            </label>
            <label class=" my-profile_form__form-lable">
                <input class="my-profile_form__form-input" type="password" name="password">
                <span class="my-profile_form__form-text">Repeat new password<span class="fill">*</span></span>
            </label>
        </div>
        <button class="my-profile_form__form-button button" type="submit">Change password</button>
        <button class="my-profile_form__form-close button-close_js" type="button" aria-label="exit"></button>
    </form>
</div>