<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__main" href="/index.html">Home</a>
      <nav class="header__nav">
        <a class="header__nav-link" href="/pages/my-blog/index.html">My blog</a>
        <button class="header__nav-link sign-open_js">Sign in</button>
        <button class="header__nav-link register-open_js">Register</button>
        <a class="header__nav-link" href="/pages/profile/index.html">Profile</a>
      </nav>
    </div>
    <hr class="header__line">
  </div>
</header>