// black

$c_black: #070707;

// white

$c_white: #ffffff;

// gray

$c_grey: #828282;
$c_grey-2: #f6f6f6;
$c_grey-3: #e5e5e5;

// red

$c_red: #eb3617;

// green

$c_green: #03bc3c;

// checkbox

$checkbox_dark-blue: #2176ff;
$checkbox_blue: #33a1fd;
$checkbox_yellow: #fdca40;
$checkbox_turquoise: #57e2e5;
$checkbox_orange: #f79824;
$checkbox_pink: #e08dac;
$checkbox_purple: #6a7fdb;
$checkbox_green: #45cb85;
