<footer class="footer">
  <div class="container">
    <h2 class="title-block__two footer__title">Contacts</h2>
    <div class="footer__feedback">
      <p class="footer__feedback-text">Want to know more or just chat?
        You are welcome!</p>
      <button class="footer__feedback-button message-open__js">Send message</button>
    </div>
    <div class="footer__social">
      <ul class="footer__social-list">

        <li class="footer__social-item">
          <a class="footer__social-link link" href="/">Instagram</a>
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link link" href="/">Vk</a>
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link link" href="/">Telegram</a>
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link link" href="/">Mail</a>
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link link" href="/">GitHub</a>
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link link" href="/">Phone</a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom-block">
      <p class="footer__bottom-text">Design by <a class="footer__bottom-text--link" href="/">DL Academy</a></p>
      <p class="footer__bottom-text">Program code from Antonina</p>
    </div>
  </div>
</footer>