<section class="blog">
    <div class="container">
        <div class="blog__wrapper">
            <article class="blog__content">
                <picture class="blog__picture">
                    <source srcset="/static/images/my-blog-1.png, /static/images/my-blog-1_retina.png 2x" media="(min-width: 1024px)">
                    <source srcset="/static/images/my-blog-1_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                    <source srcset="/static/images/my-blog-1_mobile.png" media="(max-width: 767px)">
                    <img class="blog__img" src="/static/images/my-blog-1.png" alt="pug">
                </picture>
                <div class="blog__filling">
                    <div class="blog__tags">
                        <span class="blog__tag blog__tag--orange"></span>
                        <span class="blog__tag blog__tag--purple"></span>
                    </div>
                    <div class="blog__info">
                        <span class="blog__info-date">20.01.2020</span>
                        <span class="blog__info-views">223 views</span>
                        <span class="blog__info-comments">97 comments</span>
                    </div>
                    <h3 class="blog__title">This is my new dog.</h3>
                    <p class="blog__text">Duis sit odio dui pretium suspendisse malesuada sit leo in. Massa nec eget etiam tellus ac. Sodales nibh pellentesque donec eu ultrices tortor condimentum massa.</p>
                    <a class="blog__link" href="/">Go to this post</a>
                </div>
            </article>
            <article class="blog__content">
                <picture class="blog__picture">
                    <source srcset="/static/images/my-blog-2.png, /static/images/my-blog-2_retina.png 2x" media="(min-width: 1024px)">
                    <source srcset="/static/images/my-blog-2_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                    <source srcset="/static/images/my-blog-2_mobile.png" media="(max-width: 767px)">
                    <img class="blog__img" src="/static/images/my-blog-2.png" alt="сhicken">
                </picture>
                <div class="blog__filling">
                    <div class="blog__tags">
                        <span class="blog__tag blog__tag--green"></span>
                        <span class="blog__tag blog__tag--blue"></span>
                    </div>
                    <div class="blog__info">
                        <span class="blog__info-date">17.01.2020</span>
                        <span class="blog__info-views">12 views</span>
                        <span class="blog__info-comments">0 comments</span>
                    </div>
                    <h3 class="blog__title">Why do roosters scream in the morning?</h3>
                    <p class="blog__text">Erat nunc parturient feugiat egestas adipiscing erat eu. Non neque mi volutpat et lectus.</p>
                    <a class="blog__link" href="/">Go to this post</a>
                </div>
            </article>
            <article class="blog__content">
                <picture class="blog__picture">
                    <source srcset="/static/images/my-blog-3.png, /static/images/my-blog-3_retina.png 2x" media="(min-width: 1024px)">
                    <source srcset="/static/images/my-blog-3_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                    <source srcset="/static/images/my-blog-3_mobile.png" media="(max-width: 767px)">
                    <img class="blog__img" src="/static/images/my-blog-3.png" alt="kangaroo">
                </picture>
                <div class="blog__filling">
                    <div class="blog__tags">
                        <span class="blog__tag blog__tag--dark-blue"></span>
                    </div>
                    <div class="blog__info">
                        <span class="blog__info-date">17.01.2020</span>
                        <span class="blog__info-views">337 views</span>
                        <span class="blog__info-comments">48 comments</span>
                    </div>
                    <h3 class="blog__title">Kangaroo. Start.</h3>
                    <p class="blog__text">At leo at nisl tortor egestas. Mauris luctus est luctus massa tellus erat gravida. Eget aenean eget diam habitant risus. Dapibus et, nec platea felis. Facilisi ut leo arcu, semper id pellentesque quisque ultrices etiam.</p>
                    <a class="blog__link" href="/">Go to this post</a>
                </div>
            </article>
            <article class="blog__content">
                <picture class="blog__picture">
                    <source srcset="/static/images/my-blog-4.png, /static/images/my-blog-4_retina.png 2x" media="(min-width: 1024px)">
                    <source srcset="/static/images/my-blog-4_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                    <source srcset="/static/images/my-blog-4_mobile.png" media="(max-width: 767px)">
                    <img class="blog__img" src="/static/images/my-blog-4.png" alt="pug">
                </picture>
                <div class="blog__filling">
                    <div class="blog__tags">
                        <span class="blog__tag blog__tag--orange"></span>
                        <span class="blog__tag blog__tag--green"></span>
                        <span class="blog__tag blog__tag--purple"></span>
                    </div>
                    <div class="blog__info">
                        <span class="blog__info-date">15.01.2020</span>
                        <span class="blog__info-views">222 views</span>
                        <span class="blog__info-comments">14 comments</span>
                    </div>
                    <h3 class="blog__title">Met a duckling at the pond.</h3>
                    <p class="blog__text">Nulla tempus mauris sed vel bibendum. Felis urna suspendisse amet, laoreet sagittis. Semper pellentesque condimentum vitae morbi in dui. Et in et diam massa.</p>
                    <a class="blog__link" href="/">Go to this post</a>
                </div>
            </article>
            <article class="blog__content">
                <picture class="blog__picture">
                    <source srcset="/static/images/my-blog-5.png, /static/images/my-blog-5_retina.png 2x" media="(min-width: 1024px)">
                    <source srcset="/static/images/my-blog-5_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                    <source srcset="/static/images/my-blog-5_mobile.png" media="(max-width: 767px)">
                    <img class="blog__img" src="/static/images/my-blog-5.png" alt="pug">
                </picture>
                <div class="blog__filling">
                    <div class="blog__tags">
                        <span class="blog__tag blog__tag--pink"></span>
                        <span class="blog__tag blog__tag--turquoise"></span>
                    </div>
                    <div class="blog__info">
                        <span class="blog__info-date">20.01.2020</span>
                        <span class="blog__info-views">122 views</span>
                        <span class="blog__info-comments">23 comments</span>
                    </div>
                    <h3 class="blog__title">Can dogs also be friends?</h3>
                    <p class="blog__text">Eu, libero aliquet nibh turpis quis nulla et ullamcorper purus. Consequat egestas sed sagittis morbi lacus. Consectetur et justo, sagittis vitae mi faucibus urna, eu.</p>
                    <a class="blog__link" href="/">Go to this post</a>
                </div>
            </article>
        </div>
        <div class="blog__pagination">
            <button class="pagination-nav">
                <svg class="information__pagination-svg" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="40.75" y="40.75" width="39.5" height="39.5" rx="19.75" transform="rotate(-180 40.75 40.75)" stroke="#070707" stroke-width="2.5" />
                    <rect x="24.5791" y="32.6992" width="16.5512" height="3" rx="1.5" transform="rotate(-135 24.5791 32.6992)" fill="#070707" />
                    <rect x="26.7002" y="11.4199" width="16.5512" height="3" rx="1.5" transform="rotate(135 26.7002 11.4199)" fill="#070707" />
                </svg>
            </button>
            <ul class="blog__pages">
                <li class="blog__pages-item">
                    <button class="blog__pages-button">
                        <span class="blog__pages-number">1</span>
                    </button>
                </li>
                <li class="blog__pages-item">
                    <button class="blog__pages-button">
                        <span class="blog__pages-number">2</span>
                    </button>
                </li>
                <li class="blog__pages-item">
                    <button class="blog__pages-button">
                        <span class="blog__pages-number">3</span>
                    </button>
                </li>
                <button class="pagination-nav">
                    <svg class="information__pagination-svg" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1.25" y="1.25006" width="39.5" height="39.5" rx="19.75" stroke="#070707" stroke-width="2.5" />
                        <rect x="17.4209" y="9.30084" width="16.5512" height="3" rx="1.5" transform="rotate(45 17.4209 9.30084)" fill="#070707" />
                        <rect x="15.2998" y="30.5801" width="16.5512" height="3" rx="1.5" transform="rotate(-45 15.2998 30.5801)" fill="#070707" />
                    </svg>
                </button>
        </div>
    </div>
</section>